In [3]:
import os
import pandas as pd

In [8]:
ROOT_DATA = "data"

data_files = []

for file in os.listdir(ROOT_DATA):
    if file.endswith(".xlsx"):
        data_files.append(file)

placas = [file.split(" ")[3].split(".")[0] for file in data_files]

dfs = {}

In [10]:
data_files

['ANG-904', 'AMX-702', '2602-EA', 'BBE-811', 'BCR-891', 'ALS-875', 'B4Y-813']

In [6]:
def get_placa_from_file_name(filename: str):
    return filename.split(" ")[3].split(".")[0]

In [7]:
filename = data_files[len(data_files) - 1]
placa = get_placa_from_file_name(filename)
default_columns = ["FECHA", "TACOMETRO", "GALONES", "PRECIO X GL", "GASTO ABASTECIMIENTO", "KM RECORRIDO", "KM / Gln", "S/ x Km"]
columns_to_parse = len(default_columns)

In [8]:
df = pd.read_excel(
    f"./data/{filename}",
    skiprows=2,
    sheet_name=placa,
    names=["NAN","FECHA", "TACOMETRO", "GALONES", "PRECIO X GL", "GASTO ABASTECIMIENTO", "KM RECORRIDO", "KM / Gln", "S/ x Km"],
    usecols=default_columns,
    index_col=None,
).rename(
    # RENAME COLUMNS TO MODEL FIELDS
    columns={
        "FECHA": "created_at",
        "TACOMETRO": "hour_meter",
        "GALONES": "gallons",
        "PRECIO X GL": "price_per_gallon",
        "GASTO ABASTECIMIENTO": "full_payment",
        "KM RECORRIDO":"km_traveled",
        "KM / Gln":"km_per_gallon",
        "S/ x Km":"pay_per_km"
    }
)
df

,created_at,hourmeter,gallons,price_per_gallon,full_payment,km_traveled,km_per_gallon,pay_per_km
0,2021-04-24,269735.0,16.292,12.89,210.00388,NaN,0.000000,0.000000
1,2021-04-29,270230.0,16.292,12.89,210.00388,495.0,30.383010,0.424250
2,2021-04-30,270758.0,21.295,13.15,280.02925,528.0,24.794553,0.530358
3,2021-05-03,271221.0,16.525,12.89,213.00725,463.0,28.018154,0.460059
4,2021-05-04,271521.0,14.760,13.55,199.99800,300.0,20.325203,0.666660
...,...,...,...,...,...,...,...,...
101,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
102,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
103,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
104,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
105,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [9]:
df.loc[0,"km_traveled"] =  0.0
df

,created_at,hourmeter,gallons,price_per_gallon,full_payment,km_traveled,km_per_gallon,pay_per_km
0,2021-04-24,269735.0,16.292,12.89,210.00388,0.0,0.000000,0.000000
1,2021-04-29,270230.0,16.292,12.89,210.00388,495.0,30.383010,0.424250
2,2021-04-30,270758.0,21.295,13.15,280.02925,528.0,24.794553,0.530358
3,2021-05-03,271221.0,16.525,12.89,213.00725,463.0,28.018154,0.460059
4,2021-05-04,271521.0,14.760,13.55,199.99800,300.0,20.325203,0.666660
...,...,...,...,...,...,...,...,...
101,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
102,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
103,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
104,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN
105,NaT,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [10]:
df_normalized = df.dropna()

In [11]:
import json
json.loads(df_normalized.to_json(orient="records",date_format="iso"))

[{'created_at': '2021-04-24T00:00:00.000Z',
  'hourmeter': 269735.0,
  'gallons': 16.292,
  'price_per_gallon': 12.89,
  'full_payment': 210.00388,
  'km_traveled': 0.0,
  'km_per_gallon': 0.0,
  'pay_per_km': 0.0},
 {'created_at': '2021-04-29T00:00:00.000Z',
  'hourmeter': 270230.0,
  'gallons': 16.292,
  'price_per_gallon': 12.89,
  'full_payment': 210.00388,
  'km_traveled': 495.0,
  'km_per_gallon': 30.3830100663,
  'pay_per_km': 0.4242502626},
 {'created_at': '2021-04-30T00:00:00.000Z',
  'hourmeter': 270758.0,
  'gallons': 21.295,
  'price_per_gallon': 13.15,
  'full_payment': 280.02925,
  'km_traveled': 528.0,
  'km_per_gallon': 24.7945527119,
  'pay_per_km': 0.530358428},
 {'created_at': '2021-05-03T00:00:00.000Z',
  'hourmeter': 271221.0,
  'gallons': 16.525,
  'price_per_gallon': 12.89,
  'full_payment': 213.00725,
  'km_traveled': 463.0,
  'km_per_gallon': 28.0181543116,
  'pay_per_km': 0.4600588553},
 {'created_at': '2021-05-04T00:00:00.000Z',
  'hourmeter': 271521.0,
  'gallons': 14.76,
  'price_per_gallon': 13.55,
  'full_payment': 199.998,
  'km_traveled': 300.0,
  'km_per_gallon': 20.325203252,
  'pay_per_km': 0.66666},
 {'created_at': '2021-05-07T00:00:00.000Z',
  'hourmeter': 271821.0,
  'gallons': 16.496,
  'price_per_gallon': 14.25,
  'full_payment': 235.068,
  'km_traveled': 300.0,
  'km_per_gallon': 18.1862269641,
  'pay_per_km': 0.78356},
 {'created_at': '2021-05-10T00:00:00.000Z',
  'hourmeter': 272473.0,
  'gallons': 15.781,
  'price_per_gallon': 12.99,
  'full_payment': 204.99519,
  'km_traveled': 652.0,
  'km_per_gallon': 41.3155059882,
  'pay_per_km': 0.3144098006},
 {'created_at': '2021-05-15T00:00:00.000Z',
  'hourmeter': 272880.0,
  'gallons': 15.62,
  'price_per_gallon': 13.19,
  'full_payment': 206.0278,
  'km_traveled': 407.0,
  'km_per_gallon': 26.0563380282,
  'pay_per_km': 0.5062108108},
 {'created_at': '2021-05-19T00:00:00.000Z',
  'hourmeter': 273274.0,
  'gallons': 15.921,
  'price_per_gallon': 13.19,
  'full_payment': 209.99799,
  'km_traveled': 394.0,
  'km_per_gallon': 24.7471892469,
  'pay_per_km': 0.5329898223},
 {'created_at': '2021-05-24T00:00:00.000Z',
  'hourmeter': 273706.0,
  'gallons': 17.762,
  'price_per_gallon': 13.19,
  'full_payment': 234.28078,
  'km_traveled': 432.0,
  'km_per_gallon': 24.321585407,
  'pay_per_km': 0.5423166204},
 {'created_at': '2021-05-28T00:00:00.000Z',
  'hourmeter': 274111.0,
  'gallons': 16.355,
  'price_per_gallon': 13.49,
  'full_payment': 220.62895,
  'km_traveled': 405.0,
  'km_per_gallon': 24.7630693977,
  'pay_per_km': 0.5447628395},
 {'created_at': '2021-05-28T00:00:00.000Z',
  'hourmeter': 274506.0,
  'gallons': 12.959,
  'price_per_gallon': 13.89,
  'full_payment': 180.00051,
  'km_traveled': 395.0,
  'km_per_gallon': 30.4807469712,
  'pay_per_km': 0.4556974937},
 {'created_at': '2021-06-01T00:00:00.000Z',
  'hourmeter': 274906.0,
  'gallons': 17.424,
  'price_per_gallon': 13.79,
  'full_payment': 240.27696,
  'km_traveled': 400.0,
  'km_per_gallon': 22.9568411387,
  'pay_per_km': 0.6006924},
 {'created_at': '2021-06-07T00:00:00.000Z',
  'hourmeter': 275306.0,
  'gallons': 15.809,
  'price_per_gallon': 13.79,
  'full_payment': 218.00611,
  'km_traveled': 400.0,
  'km_per_gallon': 25.30204314,
  'pay_per_km': 0.545015275},
 {'created_at': '2021-06-14T00:00:00.000Z',
  'hourmeter': 275670.0,
  'gallons': 8.47,
  'price_per_gallon': 13.79,
  'full_payment': 116.8013,
  'km_traveled': 364.0,
  'km_per_gallon': 42.9752066116,
  'pay_per_km': 0.3208826923},
 {'created_at': '2021-06-14T00:00:00.000Z',
  'hourmeter': 275820.0,
  'gallons': 9.037,
  'price_per_gallon': 13.79,
  'full_payment': 124.62023,
  'km_traveled': 150.0,
  'km_per_gallon': 16.5984286821,
  'pay_per_km': 0.8308015333},
 {'created_at': '2021-06-17T00:00:00.000Z',
  'hourmeter': 276053.0,
  'gallons': 15.591,
  'price_per_gallon': 13.79,
  'full_payment': 214.99989,
  'km_traveled': 233.0,
  'km_per_gallon': 14.9445192739,
  'pay_per_km': 0.922746309},
 {'created_at': '2021-07-22T00:00:00.000Z',
  'hourmeter': 276353.0,
  'gallons': 13.985,
  'price_per_gallon': 13.89,
  'full_payment': 194.25165,
  'km_traveled': 300.0,
  'km_per_gallon': 21.4515552378,
  'pay_per_km': 0.6475055},
 {'created_at': '2021-06-26T00:00:00.000Z',
  'hourmeter': 276881.0,
  'gallons': 18.071,
  'price_per_gallon': 13.89,
  'full_payment': 251.00619,
  'km_traveled': 528.0,
  'km_per_gallon': 29.2180842233,
  'pay_per_km': 0.4753905114},
 {'created_at': '2021-07-06T00:00:00.000Z',
  'hourmeter': 277399.0,
  'gallons': 19.414,
  'price_per_gallon': 13.89,
  'full_payment': 269.66046,
  'km_traveled': 518.0,
  'km_per_gallon': 26.6817760379,
  'pay_per_km': 0.5205800386},
 {'created_at': '2021-07-09T00:00:00.000Z',
  'hourmeter': 277849.0,
  'gallons': 16.727,
  'price_per_gallon': 14.49,
  'full_payment': 242.37423,
  'km_traveled': 450.0,
  'km_per_gallon': 26.9026125426,
  'pay_per_km': 0.5386094},
 {'created_at': '2021-07-13T00:00:00.000Z',
  'hourmeter': 278149.0,
  'gallons': 18.68,
  'price_per_gallon': 14.99,
  'full_payment': 280.0132,
  'km_traveled': 300.0,
  'km_per_gallon': 16.0599571734,
  'pay_per_km': 0.9333773333},
 {'created_at': '2021-07-13T00:00:00.000Z',
  'hourmeter': 278349.0,
  'gallons': 16.011,
  'price_per_gallon': 14.99,
  'full_payment': 240.00489,
  'km_traveled': 200.0,
  'km_per_gallon': 12.4914121541,
  'pay_per_km': 1.20002445},
 {'created_at': '2021-07-14T00:00:00.000Z',
  'hourmeter': 278449.0,
  'gallons': 6.741,
  'price_per_gallon': 14.39,
  'full_payment': 97.00299,
  'km_traveled': 100.0,
  'km_per_gallon': 14.8345942738,
  'pay_per_km': 0.9700299},
 {'created_at': '2021-07-19T00:00:00.000Z',
  'hourmeter': 278805.0,
  'gallons': 19.472,
  'price_per_gallon': 13.99,
  'full_payment': 272.41328,
  'km_traveled': 356.0,
  'km_per_gallon': 18.2826622843,
  'pay_per_km': 0.7652058427},
 {'created_at': '2021-07-24T00:00:00.000Z',
  'hourmeter': 279290.0,
  'gallons': 18.586,
  'price_per_gallon': 13.99,
  'full_payment': 260.01814,
  'km_traveled': 485.0,
  'km_per_gallon': 26.0949101474,
  'pay_per_km': 0.5361198763},
 {'created_at': '2021-07-24T00:00:00.000Z',
  'hourmeter': 279854.0,
  'gallons': 16.903,
  'price_per_gallon': 14.79,
  'full_payment': 249.99537,
  'km_traveled': 564.0,
  'km_per_gallon': 33.3668579542,
  'pay_per_km': 0.4432542021},
 {'created_at': '2021-07-25T00:00:00.000Z',
  'hourmeter': 280500.0,
  'gallons': 17.999,
  'price_per_gallon': 13.89,
  'full_payment': 250.00611,
  'km_traveled': 646.0,
  'km_per_gallon': 35.8908828268,
  'pay_per_km': 0.3870063622},
 {'created_at': '2021-07-31T00:00:00.000Z',
  'hourmeter': 281080.0,
  'gallons': 16.268,
  'price_per_gallon': 13.99,
  'full_payment': 227.58932,
  'km_traveled': 580.0,
  'km_per_gallon': 35.652815343,
  'pay_per_km': 0.3923953793},
 {'created_at': '2021-08-06T00:00:00.000Z',
  'hourmeter': 281685.0,
  'gallons': 18.598,
  'price_per_gallon': 15.99,
  'full_payment': 297.38202,
  'km_traveled': 605.0,
  'km_per_gallon': 32.5303796107,
  'pay_per_km': 0.4915405289},
 {'created_at': '2021-08-14T00:00:00.000Z',
  'hourmeter': 282113.0,
  'gallons': 15.481,
  'price_per_gallon': 14.59,
  'full_payment': 225.86779,
  'km_traveled': 428.0,
  'km_per_gallon': 27.6467928428,
  'pay_per_km': 0.5277284813},
 {'created_at': '2021-08-19T00:00:00.000Z',
  'hourmeter': 282549.0,
  'gallons': 16.661,
  'price_per_gallon': 14.59,
  'full_payment': 243.08399,
  'km_traveled': 436.0,
  'km_per_gallon': 26.1688974251,
  'pay_per_km': 0.5575320872},
 {'created_at': '2021-08-23T00:00:00.000Z',
  'hourmeter': 283002.0,
  'gallons': 16.938,
  'price_per_gallon': 14.69,
  'full_payment': 248.81922,
  'km_traveled': 453.0,
  'km_per_gallon': 26.7445979454,
  'pay_per_km': 0.5492698013},
 {'created_at': '2021-08-26T00:00:00.000Z',
  'hourmeter': 283428.0,
  'gallons': 16.185,
  'price_per_gallon': 14.99,
  'full_payment': 242.61315,
  'km_traveled': 426.0,
  'km_per_gallon': 26.3206672845,
  'pay_per_km': 0.5695144366},
 {'created_at': '2021-08-28T00:00:00.000Z',
  'hourmeter': 283797.0,
  'gallons': 13.511,
  'price_per_gallon': 14.69,
  'full_payment': 198.47659,
  'km_traveled': 369.0,
  'km_per_gallon': 27.3110798609,
  'pay_per_km': 0.5378769377},
 {'created_at': '2021-08-31T00:00:00.000Z',
  'hourmeter': 284269.0,
  'gallons': 17.804,
  'price_per_gallon': 15.73,
  'full_payment': 280.05692,
  'km_traveled': 472.0,
  'km_per_gallon': 26.5108964278,
  'pay_per_km': 0.5933409322},
 {'created_at': '2021-09-01T00:00:00.000Z',
  'hourmeter': 284743.0,
  'gallons': 14.936,
  'price_per_gallon': 14.73,
  'full_payment': 220.00728,
  'km_traveled': 474.0,
  'km_per_gallon': 31.7354043921,
  'pay_per_km': 0.4641503797},
 {'created_at': '2021-09-02T00:00:00.000Z',
  'hourmeter': 285106.0,
  'gallons': 15.345,
  'price_per_gallon': 14.99,
  'full_payment': 230.02155,
  'km_traveled': 363.0,
  'km_per_gallon': 23.6559139785,
  'pay_per_km': 0.6336681818},
 {'created_at': '2021-09-06T00:00:00.000Z',
  'hourmeter': 285501.0,
  'gallons': 16.011,
  'price_per_gallon': 14.99,
  'full_payment': 240.00489,
  'km_traveled': 395.0,
  'km_per_gallon': 24.6705390044,
  'pay_per_km': 0.6076073165},
 {'created_at': '2021-09-13T00:00:00.000Z',
  'hourmeter': 285961.0,
  'gallons': 18.412,
  'price_per_gallon': 14.99,
  'full_payment': 275.99588,
  'km_traveled': 460.0,
  'km_per_gallon': 24.9837062785,
  'pay_per_km': 0.5999910435}]